<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
		id="WebApp_ID" version="3.1">
  <display-name>bbsblog</display-name>
  
  <error-page>
    <error-code>500</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/errorPage.jsp</location>
  </error-page>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.user.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.user.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTopicServlet</servlet-name>
    <servlet-class>com.section.servlet.AddTopicServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddReplyServlet</servlet-name>
    <servlet-class>com.section.servlet.AddReplyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTopicServlet</servlet-name>
    <servlet-class>com.section.servlet.DeleteTopicServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteReplyServlet</servlet-name>
    <servlet-class>com.section.servlet.DeleteReplyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserExitServlet</servlet-name>
    <servlet-class>com.user.servlet.UserExitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginSuccessServlet</servlet-name>
    <servlet-class>com.user.servlet.LoginSuccessServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>com.user.servlet.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMyTopicServlet</servlet-name>
    <servlet-class>com.section.servlet.DeleteMyTopicServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTopicServlet</servlet-name>
    <url-pattern>/section/AddTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddReplyServlet</servlet-name>
    <url-pattern>/section/AddReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTopicServlet</servlet-name>
    <url-pattern>/servlet/DeleteTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteReplyServlet</servlet-name>
    <url-pattern>/servlet/DeleteReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserExitServlet</servlet-name>
    <url-pattern>/servlet/UserExitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginSuccessServlet</servlet-name>
    <url-pattern>/servlet/LoginSuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/servlet/CheckCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMyTopicServlet</servlet-name>
    <url-pattern>/servlet/DeleteMyTopicServlet</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>UserLoginFilter</filter-name>
    <filter-class>com.user.filter.UserLoginFilter</filter-class>
  </filter>
  <filter>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>com.user.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <listener>
  	<listener-class>com.attribute.listener.AttributeListener</listener-class>
  </listener>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>